
/* 서브4아코디언 */
.Accordion_wrap{width: 80%; margin: 0 auto; display: none; padding-top: 20px;} 
.que:first-child{
    border-top: 1px solid #D0D0D0;
  }
  
.que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #D0D0D0;
  
}
  
.que::before{
  display: inline-block;
 
  font-size: 14px;
  color: #EF4234;
  margin-right: 5px;
}

.que.on>span{
  font-weight: bold;
  color: #EF4234; 

}
  
.anw {
  display: none;
  text-align: center;
    overflow: hidden;
  font-size: 14px;

  padding: 27px 0;
}
  
.anw > a {line-height: 200%;}
.anw::before {
  display: inline-block;
 
  font-size: 14px;
  font-weight: bold;
  color: #EF4234;
  margin-right: 5px;
}
/* 아코디언 끝 */


/* 해더 */
.logo{
   
    display:flex;
   
  }
.logop{font-size: 27px;}

.header_Menu{display:flex; margin-top: 6px; font-size: 16px;    }
.header_Menu_P{margin-left: 66px;}






/* 해더끝 */


/* 메인 */

.main-1st{padding-top: 150px;}


.main_line{width: 99.8%;
          position: absolute;
          top: 39%;
          border: 2px solid rgba(239, 66, 52, 0.29);}
.main_clebox{
    top: 38.3%;
   
    width: 100%;
  
    position: absolute;
    z-index:100;
}
.main_cle{width: 10px; 
   
    cursor: pointer;
   
    height: 10px; 
    border-radius: 40px; 
    display: inline-block;
    background-color: #EF4234;}

.main_cle2{width: 20px; 
    height: 20px; 
    opacity: 0;
    margin-left: -7px;
    margin-top: -7px;
  border: 2px solid rgba(239, 66, 52, 0.8);
    border-radius: 20px;}

.st1{margin-left: 20%;}
.st2{margin-left: 53%;}
.st3{margin-left: 12%;}
.st4{margin-left: 55%;}
.st5{margin-left: 67.3%;}

.main_pbox{top: 40%; position: absolute;
            width: 100%;
            }
.main_pdiv{left: 18.2%; position: absolute;}

.main_p{font-size: 30px; color: #fff;}




.main_card{width: 458px;
            z-index: 949;
           height: 296px;
           position: absolute;
           border-radius: 18px;
           left: 30%;
           top: 211px;
            background-color: #222;}

.main_hide_pbox{top: 564px;
                
                left: 31%;
                text-align: left;
                position: absolute;}
.main_hide_pbox2{top: 564px;
                
                left: 31%;
                text-align: left;
                position: absolute;}
                
.main_hide_pbox3{top: 564px;
                
                left: 31%;
                text-align: left;
                position: absolute;}



.main_hide_Bp{font-size: 53px; font-weight: 400; margin-bottom: 30px; color: #fff;}
.main_hide_Sp{font-size: 16px; line-height: 20px; margin-top: 30px; color: #fff;}

.main_cle:hover{transition:  .35s;
                transform: scale(2);
            }
.main_cle2:hover{
                animation:f .7s forwards;}
/* 
.main_scl_down{left: 49%; width: 90px;border-radius: 90px;
    height: 90px; background: #132B5C;
    position: absolute; top: 800px;
    }

.main_scl_downs{width: 50px; height: 50px; 
    border-radius: 50px;
    margin: 15px auto;
    opacity: 0.6;
     border: 5px solid #fff;}

.main_scl_mause{width: 20px; 
                height: 34px; 
                border-radius: 34px; 
                border: 2px solid #fff;
                margin: 5px auto;}
.main_scl_mausein{width: 4px;
                height: 4px;
                border-radius: 4px;
                background-color: #fff; 
                margin: 8px auto;
                animation:down .99s infinite;}



 */

                /*  @keyframes down{

    form{
        margin-top: 8px;
        opacity: 1;
    }

    to{margin-top: 16px;
        opacity: 0;}

}

*/


  
@keyframes f {
    form{
        opacity: 0;
    }
    to{opacity: 1;}
}






.titltepbox{margin: 0 auto;
            text-align: center;}

.titlep{font-size: 30px; }

.bic_cle{width: 724px; 
    height: 724px; 
    background-image: url(./img/Group\ 113.png);

   
    margin: 80px auto;} 


.sub_card{width: 452px;
    height: 296px;
    display: inline-block;
    background: #C4C4C4;
    box-shadow: 1px 1px 29px rgba(255, 255, 255, 0.41);
border-radius: 18px;
    margin-top: 219px;
    margin-left: 140px;
   }

.s_cle1{ 
     margin-top: 148px;
    position: absolute;
  ;
    margin-left: 56px;}

.s_cle2{margin-top: 125px;
    position: absolute;
    margin-left: 627px;}

.s_cle3{margin-top: 603px;
    position: absolute;

    margin-left: 224px;
}
.s_cle4{margin-top: 443px;
    position: absolute;

    margin-left: 623px;
}



.s_cle1_titlep{color: #EF4234;
               font-size: 24px; margin-bottom: 30px;}
.s_cle1_p{font-size: 12px; color: #fff; line-height: 17px;}

.s_cle1_pbox{margin-top: 151px;
    pointer-events: none;
    margin-left: -180px;
    position: absolute;}

.s_cle2_pbox{    margin-top: 147px;
    pointer-events: none;
    margin-left: 695px;
    position: absolute;
}
.s_cle3_pbox{margin-top: 445px;
    pointer-events: none;
    margin-left: 658px;
    position: absolute;}


.s_cle4_pbox{margin-top: 602px;
    pointer-events: none;
   
    position: absolute;}



    /* 
.sub_1_btn{width: 268px;
            margin-top: 88px;
            margin-left: 603px;

            height: 68px;
        background: #465C8D;
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 71px;}
.sub_1_btn_p{font-family: 'AppleSDGothicNeoB00';
                padding-top: 25px;
             font-size: 24px;
             color: #fff;}


 */




.main-3rd_titlepbox{ margin-bottom: 51px; margin-left: 24px;}
.main-3rd_titlep{
                font-size: 93px;}


                /* 
.main-3rd_more{font-family: 'AppleSDGothicNeoB00';
              display: inline-block;
              font-size:24px;padding-left: 7px;}
.main-3rd_more_btn{width: 24px;
                 height: 24px;
                 display: inline-block;
                 vertical-align: bottom;
                 padding-bottom: 2px;
                }
  */



  
.main-3rd{width: 1166px;  margin: 0 auto; vertical-align: top; margin-top: 50px;}

.main-3rdcardshow_box{width: 326px;
                    margin: 30px;
                    display: inline-block;}

.main-3rdcard_contents{width: 326px;
                      cursor: pointer;
                      text-align:center;
                      margin: 0 auto;
                      border-radius: 6px;
                      height: 462px;
                      background: #F4F4F2;
                     display: inline-block;
                       }

.main-3rd_aw{width: 26px; height: 26px; float: right; clear: both; margin-right: 5px; margin-top: 5px;} 

.main-3rdcard{margin-top: 108px;}

.main-3rd_pbox{margin-top: 20px;}

.main-3rd_3Bp{color: #EF4234;
            font-size: 24px;}
            
.main-3rd_3p{font-size: 12px;
            padding-top: 20px;
           color: #fff;}

.main-4td{width: 1140px;
        margin: 0 auto;
        margin-top: 150px;
     vertical-align: top;}

.main-4td_p_box{margin: 40px;
                    width: 400px;
                   display: inline-block;}
.main-4td_titlep{color: #EF4234;
                font-size: 54px;}

.main-4td_p{
           padding-top: 45px;
           line-height: 2;
            font-size:24px;}

.main-4td_contents_wapr{width: 458px;
                      display: inline-block;
                      height: 222px;
                      margin-left: 100px;
                    }
                   /*  
.main-4td_contents_box{position: absolute;
    width: 458px;
    height: 296px;
   z-index: 999;
    
    background: #465C8D;
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
    border-radius: 18px;}
.main-4td_contents_box2{width: 436px;
    height: 296px;
    margin-left: 12px;
    margin-top: 19px;
  position: absolute;
  background: rgba(70, 92, 141, 0.8);
  box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
  border-radius: 18px;}

  .main-4td_contents_box3{width: 384px;
    height: 257px;
  position: absolute;
  margin-left: 41px;
  margin-top: 74px;
  background: rgba(70, 92, 141, 0.4);
  box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
  border-radius: 18px;}
*/

.main-4td_contents_box{width: 458px;
                     height: 38px;
                     margin-bottom: 18px;
                     text-align: center;
                     outline-style: none; 
                     border-radius: 6px;
                     background-color: #F5F5F5;}

.main-4td_contents_box2{width: 458px;
    background-color: #F5F5F5;
    margin-bottom: 18px;
    outline-style: none;
    border-radius: 6px; 
    font-size: 12px;
    text-align: center;
    height: 38px;}

.main-4td_contents_box3{width: 458px;  
    height:230px;  
    background-color: #F5F5F5;
    text-align: center;
    outline-style: none;
    line-height: normal; 
    border-radius: 6px;

 }


.send{width: 37px; height: 37px; background-color: #EF4234; text-align: center; position: absolute;    margin-top: 196px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 425px;}
.send img{margin-top: 11px;}
.main-4td_btn{
  margin-top: 193px;
    margin-left: 441px;}


/* 메인끝 */





/* 푸터 */
.footerwapper{width: 1100px; margin: 0 auto;}
.footer_pbox{width: 200px;
    margin-right: 50px;
    margin-left: 21px;
    margin-bottom: 200px;
             height: auto;
             vertical-align: top;
             display: inline-block;}
.footer_Bp{
   
    font-size: 16px;}

.footer_Sp{margin-top: 20px; font-size: 12px;line-height: 16px;}
/* 푸터끝 */







/* 서브페이지1 */

.sub_1{width: 100%; margin: 0 auto;}
.img_boxsub_1{    width: 1050px; margin: 245px auto;}
.sub_1_img_box{width: 458px;
    height: 296px;
    display: inline-block;
    vertical-align: top;
    margin-top: 52px;
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}
.p_box_sub_1{width: 400px;
          height: auto;
          margin-left: 100px;
          text-align: center;
        display: inline-block;}
.sub_1p_title{line-height: 500%;}
.sub_1p_title_p{font-size: 30px;line-height: 200%; }
.sub_1p_nbp{font-size: 30px;}
.sub_1p_nop{font-weight: 200;
    line-height: 100%;
         font-size: 24px;
        margin-bottom: 30px;}
.addbox{border: 0.2px solid rgba(0, 0, 0, 0.41);
    box-sizing: border-box;
    width: 218px;
    height: 54px;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    background: url(./img/Vector\ 6.png) no-repeat 90% 50%/15px auto;
    appearance:none;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-size: 20px;
}
.Countbox{ width: 84px;
    height: 54px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-size: 20px;
    padding-left: 9px;
    background-color: #fff;
    -webkit-appearance:none;
    -moz-appearance:none; }


    
.countbtn{width:30px; height: 30px; margin-left: 20px; margin-right: 20px;}



.addcartbtn{width: 218px;
    height: 46px;
    background: #3D5531;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    line-height: 100%;
    margin:40px auto;
}

.addcartp{font-size: 24px;color: #fff; padding-top: 14px;}

.Different_kinds_wapper{width: 1100px; margin: 0 auto; margin-top: 300px; margin-bottom: 300px;}
.Different_kinds_title{margin-left: 40px;}
.Different_kinds_title_p{font-size: 30px; }
.Different_kinds_contents_wapper{margin: 0 auto; width: 1000px; margin-top: 100px; }
.Different_kinds_contents{
    width: 204px;
    height: 270px;
    display: inline-block;
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    border-radius: 11px;}
.Different_kinds_contents_pbox{width: 200px;
    margin-top: 30px;
    text-align: center;
    height: auto;}

.contents_box{display: inline-block; margin-left: 80px; vertical-align: top;}

/* 서브페이지1끝 */


/* 서브페이지2시작 */
.sub_2{width: 1100px; margin: 0 auto;     margin-top: 257px;}
.sub_2_titlebox{width: 300px;}
.sub_2_titlep{font-size: 30px; }
.sub_2_contentbox{width: 1100px; margin-top: 40px;}
.sub_2_p_box{width: 1100px; margin-top: 40px; margin-bottom: 20px;}
.sub_2_p{font-size: 14px;  display: inline-block;}
.sub_2_itembox{width: 1100px; margin-top: 20px; margin-bottom: 20px;}
.removebtn{color:  #8D4646; cursor: pointer; width: 12px; height: 12px; display: inline-block;}
.item_imgbox{width: 96px;border-radius: 6px;
    height: 62px;  background: #222; display: inline-block; vertical-align: middle; margin-left: 30px;} 
.item_pbox{display: inline-block; vertical-align:middle; margin-left: 20px;}
.item_qtybox{display: inline-block;     margin-left: 675px;}
.se23{margin-left: 91px;}
.qtybnt{   -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    width: 30px;
    height: 30px;
}
.item{    margin-left: 123px;}
.qty{margin-left: 750px;}
.price{    margin-left: 95px;}
.order{width: 200px; margin-left: 900px; margin-top: 40px;  margin-bottom: 300px;}
.Subtotal{display: inline-block;}
.sub_2_bp{font-size: 18px; display: inline-block;     margin-right: 46px;
  }

.nb{  margin-left: 8px;}

.sub_2_btn{width: 117px;
    height: 37px;
    background: #3D5531;
   
    text-align: center;
    margin-left: 78px;
    margin-top: 32px;
    border-radius: 6px;
 }
.sub_2_pbtn{padding-top: 10px; }
/* 서브페이지2 끝 */

/* 서브페이지3 */
.sub_3{width: 1440px; margin: 0 auto;}
.Payment_contentsbox{width: 482px; display: inline-block; margin-top: 44px; margin-left: 200px; margin-bottom: 200px;}
.E-mail{width: 418px;
    height: 157px;border-radius: 6px;
    background: #fff;}
.E-mailtextbox{padding-top: 20px; padding-left: 20px;}
.Emailtext{font-size: 24px; color: #2D2D2D; font-weight: bold;}
.E-mailformbox{text-align: center;margin-top: 29px;}
.E-mailsp{margin-top: 20px; text-align: center;}
.Continuebox{width: 418px;border-radius: 6px;
    height: 44px; background: #3D5531;    margin-top: 44px;
     text-align: center; cursor: pointer;}
.Continuep{font-size: 24px; color: #fff; font-weight: bold; padding-top: 11px;}

.Shipping{width: 418px;background: #fff;border-radius: 6px;
    height: 380px;margin-top: 20px;}
    .Shipping_name{margin-left: 12px;}
    .Shipping_content{margin: 0 auto; width: 398px; margin-top: 30px;}
    .Shipping_Address{margin-top: 30px; margin-left: 12px;}
.Payment{width: 418px;
    height: 100%;
    
    margin-top: 20px;
    padding-bottom: 65px;background: #fff;border-radius: 6px;
   }
.check{width: 350px; margin: 0 auto; margin-top: 40px; color: #2D2D2D;}

.Payment_card{width: 350px; height: 200px; margin: 0 auto; }
.sse{width: 350px; height: 50px; margin-top: 40px; text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;}
.Order_Summarybox{width: 419px;display:inline-block; vertical-align: top; margin-top: 44px;
    height: 307px;background: #fff;border-radius: 6px;margin-left: 140px;}

.Order_Summarycontnest{width: 350px; margin: 0 auto}
.Order_Summaryimg{width: 96px;border-radius: 6px;margin-left: 84px;
    height: 62px;background-color: #C4C4C4; margin-top: 27px; display: inline-block;
    }
.Order_Summarypbox{display: inline-block;    margin-top: 37px; vertical-align: top;
    margin-left: 24px;}
.price2{display: inline-block; vertical-align: top; margin-top: 30px; margin-left: 80px;}
.price2_p{color:#2d2d2d;}
.qtrbox{border: 0.2px solid #3E3341;
    box-sizing: border-box;
    border-radius: 3px;width: 74px;
    text-align: center;
    margin-top: 8px;
    margin-left: -20px;
    height: 23px;}
.Order_Summaryp{color: #2d2d2d;}
.remove{color: #B6B6B6; margin-top: 10px;}
.Order_Summarypbox2{    width: 364px; margin: 0 auto;margin-top: 40px; line-height: 140%;}
.Order_Summaryp2{width: 85px; display: inline-block; line-height: 150%;  text-align: center;}
.Order_Summaryp2 p{color: #2d2d2d; font-size: 18px;}
.Order_Summaryp3{width: 59px;    margin-left: 194px; display: inline-block; text-align: center; line-height: 150%; vertical-align: top;}
.Order_Summaryp3 p{color:#2d2d2d; font-size: 18px;}
.sxx{    margin-left: 18px; border-radius: 6px;}
.see{border-radius: 6px;}
.sub_3_titlep{font-size: 93px;}
/* 서브페이지3끝 */


/* qna페이지1 */

.sub4_wapper{width: 1440px;
             margin:0 auto;
            vertical-align: top;
            margin-bottom: 134px;}

.molork{vertical-align: top;
    margin-top: 99px;
        margin-right:77px;
        width: 365px;
        height: 100vh;
        display: inline-block;
        text-align: center;
        border-right: #EF4234 1px solid;
       }

.molorkBp{margin-bottom: 31px;}

.molorkBpp{font-size: 24px; font-weight: bold;}
.molorkSp{margin-bottom: 25px; cursor: pointer;}

.focus{width: 140px;cursor: pointer;
    height: 37px;background: #EF4234;border-radius: 6px; margin: 0 auto; margin-bottom:25px ;}
.focusp{padding-top: 10px; font-weight: bold;}
.someun{margin-top: -11px;}
.sox{font-size: 12px; color: #EF4234;}
.sx{font-size: 12px; color: #BFBFBF;}
.qnacontents{display: inline-block;    width: 727px; margin-top: 99px;}
.qnaimgsbox img{width: 60%;}
.qnatitle{margin-bottom: 50px;}
.qnatitlep{font-size: 36px; font-weight: bold;}
.qnasubtitle{width: 320px;
    height: 28px;
    margin-bottom: 40px;
    
    border-left: 4px solid #EF4234;}

.qnaimgsboxpc{margin-top: 20px; margin-bottom: 20px;}
.qnaimgsbox{margin-top: 20px; margin-bottom: 20px; }
.qnasubtitlep{font-size: 24px; font-weight: bold; padding-top: 2px; padding-left: 10px;}
.qnacontentspbox{line-height: 24px; margin-bottom: 100px; width: 100%;}

.sub2{text-align: center;}
.subp2{text-align: center;}
.qnanbtite{margin-left: 20px; margin-top: 30px; margin-bottom: 30px;}
.qnanbtitep{font-size: 20px; font-weight: bold;}
.qnaimgsboxpc img {width: 80%;}
/* qna페이지1끝 */






/* ddd */
.modal_wrap{
    display: none;
    position: fixed;
    content: "";
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0,0,0.9);
    top:0;
    left: 0;
    text-align: center;
    z-index: 55;
    justify-content: center;
    align-items : center;
    animation: six 0.5s;
    }
    
    .modal_closub_1{
        width: 418px;
        height: 44px;
        background: #3D5531;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin: 34px auto;
        cursor: pointer;}
    
    .modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    animation: six 0.5s;
    
    }
    .minerfee{width: 325px;
    height: 54px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    font-weight: bold;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    background: url(./img/Polygon\ 2.png) no-repeat 91% 56%/15px auto;
    appearance:none;
    text-align-last: center;
    text-align: center;
    color: #fff;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    margin-left: -4px;
    font-size: 24px;}
    
    .minerfee option{color: #2d2d2d; }
    
    .modal{margin-left: 0px; margin-top: 68px;}
    .modal_qnabtn{width: 418px;
        margin: 34px auto;
        height: 44px;background: #EF4234;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 6px;}
    .modal_close1{width: 418px;
        margin: 34px auto;
        height: 44px;background: #3D5531;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 6px;}
    .modal_qnabtnp{font-size: 24px; font-weight: bold;padding-top: 11px;}
    .modal_closep{font-size: 24px; font-weight: bold;  padding-top: 11px;}
    
    @keyframes six { 
        from {
           opacity: 0;
        }
        to {
           opacity: 1;
        }
        }
    /*  */
    /* 추가 css */

    .mobilepbox{    text-align: center;
        
        display: none;
    }
    .mobileBx{color: #EF4234;
        font-size: 24px;
        margin-bottom: 33px;
        font-weight: bold;}

    .mobileSx{font-size: 16px; margin-bottom: 40px; line-height: 1.5em;}
    .mainhr{width:28px; border: 2px solid  #EF4234;  margin-left: 1px;}
    
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

.mobilecart{width: 80%; margin: 0 auto; display: none;}
.mobileitem{display: inline-block; margin-top: 50px; margin-bottom: 50px; margin-left: 50px;}
.mobilecart_pbox{display: inline-block;}

.mobilecart_pbox{float: right;
    clear: both;
    margin-right: 97px;
    margin-top: 37px;}
.mobilesu3{display: none; margin-bottom: 30px;}

.pcsu3{width: 419px;
    display: inline-block;
    vertical-align: top;}

.mobilesu3input{width: 373px; height: 42px;border: 0.2px solid #000000;box-sizing: border-box;  text-align: center;border-radius: 8px;}
.mobilesu3input2{margin-top: 20px; width: 350px; height: 42px;border: 0.2px solid #000000;box-sizing: border-box;  text-align: center;border-radius: 8px;}
.footer_hr{    border: 2px solid #EF4234;
    width: 15px;
    margin-top: 23px;
    margin-left: 0px;
}
.oo{padding-top: 150px;}



/* Dropdown Button */
.dropbtn {
    
    background-color: #fff;
    color: #222;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #EF4234;
    color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: none;
    position: relative;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d2d2d;
  z-index: 999;
   width: 100%;
   height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #EF4234}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* 추가 css 끝 */



           /* 반응형 */

           @media all and (max-width:1024px){
            .sub_3_titlep{font-size: 47px;}
            .qnaimgsboxpc img{width: 80%;}
            .qnaimgsbox{margin-left: 0px;text-align: center;}
            .qnaimgsboxpc{margin-left: 0px;text-align: center;}
            .qnacontentspbox{margin-left: 0px; width: 300px;text-align: center; margin: 0 auto;     margin-bottom: 40px;}
            .header_Menu{display: none;}
            .dropdown{display: inline-block;}
            .oo{padding-top: 60px;}
            .main-1st{padding-top: 0px;}
            .si{height: auto;}
            #page{display: block;}
            .pcsu3{display: none;}
            
            .main-3rd{    width: 100%;}
           
            .main-4td_contents_wapr{      width: 458px;  margin: 30px auto;
                display: block;}
            .main-4td{width: 100%;}
            .main-4td_p_box{    width: 100%; display: inline-block; margin-bottom: 20px;
                text-align: center;     margin: 0px;}
           .footerwapper{width: 100%;}
           .footerbigpbox{text-align: center;}
           #toggle{right: 16px;}
        
      
           .footer_pbox{margin: 0px; margin-bottom: 70px;   display: inline-block;  width: 150px; text-align: center;  }
           .footer_hr{margin: 0 auto; margin-top: 23px;}
           .main-3rd_pbox{margin-bottom: 40px;}
           .main-3rd_titlepbox{text-align: center; }
           .main-3rd_titlep{font-size: 4em; }
           .main-3rdcardshow_box{width: 100%; text-align: center; margin-top: 30px; margin: 0px;}
          .s_cle1_pbox{display: none;}
          .s_cle2_pbox{display: none;}
          .s_cle3_pbox{display: none;}
          .s_cle4_pbox{display: none;}
          .mobilepbox{display: block;}
          .main_clebox{text-align: center; top: 425px;}
          .st1{margin-left: 0px;}
          .st2{margin-left: 40px;}
          .st3{margin-left: 40px;}
          .main_hide_pbox{text-align: center; width: 100%;  left: 0%;     top: 470px;}
          .main_hide_pbox2{text-align: center;width: 100%;  left: 0%;     top: 470px;}
          .main_hide_pbox3{text-align: center;width: 100%; left: 0%;     top: 470px;}
          .mainhr{margin: 0 auto;}
          .main_line{display: none;}
          .main_card{margin: 0 auto;
            margin-top: 41px;
            display: block;
            position: unset;}

        .img_boxsub_1{width: 100%; text-align: center; margin-top: 60px; margin-bottom: 80px;}
        .p_box_sub_1{margin-left: 0px; margin-top: 56px;}
        .sub_2{display: none;}
        .sub_2_titlebox{text-align: center; margin:80px auto; width: 100%;}
        .sub_2_btn{margin: 80px auto;}
        .Subtotal{ width: 285px; float: right;}
        .mobilecart{display: block; width: 80%;}
        .sub_2_p{font-weight: bold; line-height: 200%;}
        .price{margin: 0;}
        .sub_3{width: 100%; margin-bottom: 50px;}
        .Payment_contentsbox{width: 419px; margin: 0 auto; display: block;}
        .Order_Summarybox{margin: 0 auto; display: block; }
        .mobilesu3{display: block; padding-top: 30px;}
        .sub4_wapper{width: 100%;}
        .molork{width: 229px; margin-right :21px;}
       .qnacontents{width: 65%;}
       .modal{margin-top: 50px;}
     
    
        
    }
        
         /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
            @media all and (min-width:480px) and (max-width:767px){
                .qnaimgsboxpc img{width: 80%;}
                .qnacontents{margin-top: 40px;}
                .qnaimgsbox{margin-left: 0px;text-align: center;}
                .qnaimgsboxpc{margin-left: 0px;text-align: center;}
                .qnacontentspbox{ width: 300px;text-align: center; margin: 0 auto;     margin-bottom: 40px;}
                .Accordion_wrap{display: block;}
                .mo{margin-top: 30px;}
                header{margin: 0px;}
                .Subtotal{width: 230px;}
                .mobilecart_pbox{    margin-right: 41px;}
                .mobileitem{    margin-left: 17px;}
                .molork{display: none;}
                .qnacontents{    display: block;
                    padding-top: 25px;
                    margin: 0 auto;}
                .qnatitle{text-align: center;}
                .bic_cle{    background-size: cover;
                    background-position: center;
                    width: 479px;
                    height: 479px;}
                .sub_card img{width: 100%;}
                .sub_card{width: 338px;
                    height: 218px;    margin-top: 133px;
                    margin-left: 66px;}
                .s_cle1{display: none;}
                .s_cle2{display: none;}
                .s_cle3{display: none;}
                .s_cle4{display: none;}
                .footer_pbox{    width: 143px;}

            }
         /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
            @media all and (max-width:480px) {
                .qnaimgsboxpc img{width: 80%;}
                .qnacontents{margin-top: 40px;}
                .qnaimgsbox{margin-left: 0px;text-align: center;}
                .qnaimgsboxpc{margin-left: 0px;text-align: center;}
                .qnacontentspbox{ width: 300px;text-align: center; margin: 0 auto;     margin-bottom: 40px;}
          
                .Accordion_wrap{display: block;}
                .main-3rdcard_contents{width: 320px;}
                .main_card{    margin-top: 95px;     width: 320px;     height: 206px;}
                .main_card img{width: 100%;}
                .main-3rd_titlep{font-size: 3em;}
                .bic_cle{background-size: cover;
                    background-position: center;
                    width: 320px;
                    height: 320px;}
                .Subtotal{width: auto;}
                .sub_card{    width: 313px;
                    height: 200px;margin-top: 56px;margin-left: 0px;}
                .sub_card img{width: 100%;}
                .s_cle1{display: none;}
                .s_cle2{display: none;}
                .s_cle3{display: none;}
                .main-4td_contents_wapr{width: 90%; margin: 0 auto; height: auto; margin-top: 45px;}
                .s_cle4{display: none;}
                .main-4td_contents_box{width: 100%;}
                .main-4td_contents_box2{width: 100%;}
                .main-4td_contents_box3{width: 100%;}
                .send{margin-left: 0px;}
                .sub_1_img_box{width: 320px;    height: 205px;}
                .sub_1_img_box img{width: 100%; }
                .p_box_sub_1{width: 100%;}
                .mobileitem{margin-left: 0px;}
                .mobilecart_pbox{margin-right: 0px;}
                .mobilecart{width: 80%;}
                .Order_Summarybox{width: 90%;}
                .Payment_contentsbox{width:100%;}
                .E-mail{width: 90%;     margin: 20px auto;}
                .Shipping{width: 90%;     margin: 20px auto;}
                .Payment{width: 90%;     margin: 20px auto;}
                .Continuebox{width: 90%; margin: 20px auto;}
                .Order_Summaryp2{margin-left: 25px;}
                .Order_Summaryp3{margin-left: 111px;}
                .Order_Summarypbox2{width: 320px;}
                .Shipping_content{width: 100%; text-align: center;}
                .mobilesu3input{width: 80%;}
                .mobilesu3input2{width: 80%;}
                .Shipping_name{margin-left: 0px;}
                .Shipping_Address{margin-left: 0px;}
                .check{width: 320px;}
                .sxx{margin-left: 9px;}
                .sse{width: 80%;}
                .Payment_card {width: 100%; text-align: center;}
                .modal_qnabtn{width: 90%;}
                .modal_close1{width: 90%;}
                .modal_closub_1{width: 90%;}
                .qnacontents{width: 100%;}
                .qnatitle{text-align: center;}
                .molork{display: none;}
                .Order_Summarycontnest{width: 320px;}
          }


























